{% extends 'base.html' %}

{% block title %}{{blog.title}}{% endblock %}
{% block js %}<script src="https://unpkg.com/scrollreveal"></script>{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container text-center">
      <h1 class="display-4 text-center mb-2 blog_title" style="color: #cc141d;font-family: 'Kaushan Script', sans-serif, sans-serif; font-weight: 300;">{{blog.title}}</h1>
      <br>
      <p style=" width: 80%; color: #1e1e1e; font-family: 'Roboto Condensed', sans-serif; display: inline-block; font-size: 1.4rem; margin: 0 auto;">
        {{blog.content}}
      </p>
      <br><br>
      <h6 class="text-right mt-2" style="color: #1e1e1e; font-family: 'Roboto Condensed', sans-serif;"> ~ {{blog.creator_name}} (Contact : {{blog.creator_email}})</h6>
    </div>
  </div>
  <div class="container text-right">
    <a href="{% url 'blogs' %}" class="my-2 mx-auto searchbutton" style="color: white; font-size: 1.4rem; font-family: 'Roboto Condensed', sans-serif; border: 2px solid white; padding:0.4rem; display: inline-block">
      <i class="fas fa-chevron-circle-left"></i> Back To Blogs
    </a>
  </div>
</div>
{% endblock %}