{% extends 'base.html' %}

{% load static %}
{% block title %}Game{% endblock %}
{% block js %}<script src="https://unpkg.com/scrollreveal"></script>{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center pt-2 pb-1 bg-light">
  <div class="container" id="main-jumbo">
    <span><i class="fas fa-trophy fa-2x mr-2 icons" style="color:black;"></i></span>
    <h1 class="display-4 main-heading" style="font-family:'Kaushan Script'; color:#1e1e1e;display:inline-block;">Rock Paper Scissors Lizard Spock </h1>
    <span><i class="fas fa-trophy fa-2x ml-3 icons" style="color:black;"></i></span>
    <p class="lead" style="font-family:'Oswald', sans-serif; color:#1e1e1e;">~~ A great game that we came across while binging 'The Big Bang Theory'. Thanks Sheldon Lee Cooper!! ~~</p>
  </div>
</div>

<div class="container pt-2 mb-2" style="border: 2px solid #ffc107">
  <div class="container players">
    <div class="left-player text-center p-2">
      <span id="howard_photo"><img src="{% static 'howard_sq.jpg' %}" class="p-2" width="200" height="200" style="border-radius:50%; border: 2px solid #eee;"></span>
      <h4 class="my-1" style="color: white;font-family: 'Roboto Condensed', sans-serif"><strong>You</strong> <span id="yourpoints"></span></h4>
      <div class="options mt-2">
        <!-- my-4 ml-5 -->

        <a class="option1 mb-2">
          <span id="one" class="opt1">
            <i class="far fa-hand-rock fa-2x p-3 mr-2 sb" style="color:#ffc107; border: 2px solid white; border-radius:50%"></i>
            <small class="hidden" style="color: white; font-family: 'Oswald', sans-serif; font-size: 1rem;">Rock</small>
          </span>
        </a>


        <a class="option2 mb-2">
          <span id="two" class="opt2">
            <i class="far fa-hand-paper fa-2x p-3 mr-2 sb" style="color:#ffc107; border: 2px solid white; border-radius:50%"></i>
            <small class="hidden" style="color: white; font-family: 'Oswald', sans-serif; font-size: 1rem; ">Paper</small>
          </span>
        </a>


        <a class="option3 mb-2">
          <span id="three" class="opt3">
            <i class="far fa-hand-scissors fa-2x p-3 mr-2 sb" style="color:#ffc107; border: 2px solid white; border-radius:50%"></i>
            <small class="hidden" style="color: white; font-family: 'Oswald', sans-serif; font-size: 1rem; ">Scissors</small>
          </span>
        </a>


        <a class="option4 mb-2">
          <span id="four" class="opt4">
            <i class="far fa-hand-lizard fa-2x p-3 mr-2 sb" style="color:#ffc107; border: 2px solid white; border-radius:50%"></i>
            <small class="hidden" style="color: white; font-family: 'Oswald', sans-serif; font-size: 1rem; ">Lizard</small>
          </span>
        </a>


        <a class="option5 mb-2">
          <span id="five" class="opt5">
            <i class="far fa-hand-spock fa-2x p-3 sb" style="color:#ffc107; border: 2px solid white; border-radius:50%"></i>
            <small class="hidden" style="color: white; font-family: 'Oswald', sans-serif; font-size: 1rem;">Spock</small>
          </span>
        </a>

      </div>
    </div>

    <div class="right-player text-center p-2">
      <span id="sheldon_photo"><img src="{% static 'sheldon.jpg' %}" class="p-2" width="200" height="200" style="border-radius:50%; border: 2px solid #eee;"></span>
      <h4 class="my-1" style="color: white;font-family: 'Roboto Condensed', sans-serif"><strong>Sheldon</strong> <span id="shellypoints"></span></h4>
      <h3 class="my-3" style="color: white;font-family: 'Roboto Condensed', sans-serif; display: inline-block" id="splayed">Sheldon Played: </h3>
      <div id="shelly" class="ml-2" style="display: inline-block"></div>
    </div>
  </div>

  <!-- <div id="decider"></div> -->

</div>
<!-- Button trigger modal -->
<button type="button" style="display:none;" class="btn btn-primary" id="wtf" data-toggle="modal" data-target="#exampleModalCenter">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" style="color: #cc141d; font-family: 'Oswald', sans-serif; font-size: 1.8rem; ">This is a game popularised by Sheldon on the renowned show 'The Big Bang Theory'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"><strong>Outcomes Of The Game</strong></h3>
        <h5 class="modal-title" id="w0" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w1" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w2" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w3" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w4" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w5" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w6" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w7" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w8" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
        <h5 class="modal-title" id="w9" style="color:#cc141d; font-family: 'Roboto Condensed', sans-serif; text-align: center; block: block;"></h5>
      </div>
    </div>
  </div>
</div>
<div class="container text-right">
  <a href="javascript:{document.getElementById('wtf').click()}" class="my-2 mx-auto searchbutton" style="color: white; font-size: 1.4rem; font-family: 'Roboto Condensed', sans-serif; border: 2px solid white; padding:0.4rem; display: inline-block">
    <i class="fas fa-scroll"></i> What Is This?
  </a>
</div>

{% endblock %}